@import "tailwindcss";

@keyframes fadeSoft {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.animate-fade {
  animation: fadeSoft 2.5s ease-in-out infinite;
}
